.Header{
    background-color: black;
}

.multiple{
    color: white;
    text-align: left;
}

.longer{
    color: white;
    text-align: left;
    font-style: italic; 
    font-size: 55px;
}

.reading{
    color: white;
    text-align: left;
    font-style: italic; 
}